* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}

body, #container, .column {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: 2px solid black;
    padding: 10px;
}

.column {
    flex-direction: column;
}

.unit {
    background-color: bisque;
}

.black {
    background-color: black;
}